*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;;
}
.container{
   background-color:#0A0C1C ;
   height: 100vh;
   padding: 10%;
   display: flex;
}
.text{
    width: 50%;
    height: 70vh;
    background-color: #1B1937 ;
}
.text h1 {
    color: white;
    padding: 10%;
    font-size: 36px;
    font-weight: bold;
    margin-left: 10%;
    margin-bottom: 7%;
   
}
.text h1 p{
    font-size: 15px;
    color: whitesmoke;
    font-weight: lighter;
    opacity: 60%;
    word-spacing: 0.1rem;
    margin-top: 10%;
}
.text h1 span{
    color: #AB5CDB;
}
.image {
    background: #AB5CDB;
    height: 70vh;
     width: 50%;
    overflow: hidden;
}
.image img{
    opacity: 60%;
    height: 70vh;
   
}
 .rates{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width:480px) {
    .container{
        display: flex; flex-direction: column-reverse;
        height: 100%;
    }
    .text{
        width: 100%;
        height: 40%;
    }
    .text h1{
        text-align: center;
        font-size: 20px;
    }
    .image{
        width: 100%;
        height: 40vh;
    }
    .image img{
        width: 100%;
        height: 40vh;
    }
    .rates{
        display:block;
    }
}